/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1944px;
  overflow: hidden;
  width: 600px;
}

.index .overlap-group2 {
  height: 1946px;
  position: relative;
  width: 600px;
}

.index .rectangle-13 {
  background-color: #e3e3e3;
  height: 1944px;
  left: 0;
  position: absolute;
  top: 0;
  width: 600px;
}

.index .group-1 {
  background-image: url(../img/path-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 315px;
  left: 0;
  position: absolute;
  top: 0;
  width: 600px;
}

.index .overlap-group {
  height: 26px;
  left: 213px;
  position: absolute;
  top: 50px;
  width: 174px;
}

.index .group {
  align-items: flex-end;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .group-2-2 {
  background-image: url(../img/path-2@1x.png);
  height: 8.96px;
  margin-bottom: 1.8px;
  margin-right: 1.0px;
  width: 7.5px;
}

.index .group-4 {
  background-image: url(../img/path-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 155px;
  position: absolute;
  top: 16px;
  width: 8px;
}

.index .group-5 {
  background-image: url(../img/path-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8.95px;
  margin-bottom: 1.8px;
  margin-right: 20.9px;
  width: 10.54px;
}

.index .path-7 {
  height: 9px;
  left: 139px;
  top: 16px;
  width: 1px;
}

.index .group-7 {
  background-image: url(../img/path-17@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 130px;
  position: absolute;
  top: 16px;
  width: 8px;
}

.index .group-9 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  left: 0;
  padding: 1.8px 45.6px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .group-8 {
  background-image: url(../img/path-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  margin-left: 74px;
  width: 8px;
}

.index .group-10 {
  background-image: url(../img/path-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 113px;
  position: absolute;
  top: 16px;
  width: 6px;
}

.index .group-13 {
  align-items: flex-end;
  display: flex;
  gap: 1px;
  height: 26px;
  left: 0;
  padding: 1.8px 63.3px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .group-12 {
  background-image: url(../img/path-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  margin-bottom: 0;
  margin-left: 28px;
  width: 7px;
}

.index .group-11 {
  background-image: url(../img/path-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  width: 11px;
}

.index .group-14 {
  background-image: url(../img/path-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 140px;
  position: absolute;
  top: 1px;
  width: 6px;
}

.index .group-15 {
  background-image: url(../img/path-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 128px;
  position: absolute;
  top: 1px;
  width: 10px;
}

.index .group-16 {
  background-image: url(../img/path-17@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 121px;
  position: absolute;
  top: 1px;
  width: 8px;
}

.index .path-18 {
  height: 9px;
  left: 119px;
  top: 1px;
  width: 1px;
}

.index .group-18 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 0;
  padding: 0.5px 58.1px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .group-17 {
  background-image: url(../img/path-19@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  margin-left: 49px;
  width: 9px;
}

.index .path-21 {
  height: 9px;
  left: 104px;
  top: 1px;
  width: 1px;
}

.index .group-20 {
  align-items: flex-start;
  display: flex;
  height: 26px;
  left: 0;
  padding: 0.5px 72.5px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .group-19 {
  background-image: url(../img/path-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  margin-left: 20px;
  width: 9px;
}

.index .group-21 {
  background-image: url(../img/path-24@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 56px;
  position: absolute;
  top: 0;
  width: 29px;
}

.index .group-24 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 26px;
  left: 0;
  padding: 0.5px 1.0px;
  position: absolute;
  top: 0;
  width: 174px;
}

.index .group-2 {
  background-image: url(../img/path-25@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  width: 22px;
}

.index .netcaredoctor-directory {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 900;
  left: 71px;
  letter-spacing: 0.40px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 126px;
  white-space: nowrap;
}

.index .span0 {
  letter-spacing: 0;
}

.index .span1 {
  font-size: var(--font-size-xxxl);
  letter-spacing: 0;
}

.index .span2 {
  font-size: var(--font-size-xxl);
  letter-spacing: 0;
}

.index .span3 {
  font-size: var(--font-size-xxl);
}

.index .group-27 {
  align-items: flex-start;
  background-image: url(../img/path-28@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  left: 0;
  min-width: 600px;
  padding: 0 43px;
  position: absolute;
  top: 530px;
}

.index .wayfinding-patie {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 900;
  letter-spacing: 0.15px;
  line-height: 43px;
  margin-top: -4.6px;
  min-height: 21px;
  min-width: 502px;
  text-align: center;
  white-space: nowrap;
}

.index .span-1 {
  font-weight: 700;
}

.index .signage-is-an-essent {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 15px;
  letter-spacing: 0.15px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 925px;
  white-space: nowrap;
}

.index .rectangle-12 {
  background-color: #164abc;
  border-radius: 22px;
  height: 39px;
  left: 89px;
  position: absolute;
  top: 1486px;
  width: 132px;
}

.index .to-preview-the-touch {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 900;
  left: 75px;
  letter-spacing: 0.08px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 1538px;
  white-space: nowrap;
}

.index .span0-1 {
  letter-spacing: 0.12px;
}

.index .span1-1 {
  font-style: italic;
}

.index .untitled-2 {
  height: 300px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 230px;
  width: 600px;
}

.index .img_3136 {
  border-radius: 25px;
  height: 307px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 584px;
  width: 530px;
}

.index .rectangle-1 {
  background-color: var(--black);
  height: 211px;
  left: 0;
  position: absolute;
  top: 1735px;
  width: 600px;
}

.index .path-49 {
  height: 14px;
  left: 161px;
  top: 1820px;
  width: 13px;
}

.index .level-2-bee {
  left: 357px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  top: 1837px;
  white-space: nowrap;
}

.index .img_3138 {
  border-radius: 28px;
  height: 307px;
  left: 310px;
  object-fit: cover;
  position: absolute;
  top: 1397px;
  width: 255px;
}

.index .line-1 {
  height: 1px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 1367px;
  width: 530px;
}

.index .click-here {
  left: 106px;
  letter-spacing: 0.15px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 1496px;
  white-space: nowrap;
}

.index .hellobbmdigitalcoza {
  left: 124px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  top: 1837px;
  white-space: nowrap;
}

.index .wwwbbmdigitalcoza {
  left: 197px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  top: 1815px;
  white-space: nowrap;
}

.index .visit-our-website-fo {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 900;
  left: 54px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  text-align: center;
  top: 1772px;
  white-space: nowrap;
}

.index .overlap-group1 {
  height: 26px;
  left: 213px;
  position: absolute;
  top: 1890px;
  width: 174px;
}

.index .group-2-3 {
  background-image: url(../img/path-2@1x.png);
  height: 8.96px;
  margin-bottom: 1.8px;
  margin-right: 1.0px;
  width: 7.5px;
}

.index .group-5-1 {
  background-image: url(../img/path-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8.95px;
  margin-bottom: 1.8px;
  margin-right: 20.9px;
  width: 10.54px;
}

.index .group-2-1 {
  background-image: url(../img/path-25-1@1x.png);
  height: 24px;
  width: 22px;
}

.index .group-2-4 {
  background-position: 50% 50%;
  background-size: cover;
}

.index .path {
  object-fit: cover;
  position: absolute;
}
